html{
    background-color:lightpink;
}
.langa_p {
    display: inline-block;
    margin-left: 20%;
    font-size: 40px;
    margin-top: 1.5em;
    padding-bottom: 1.25em;
}


body {
    min-height: 97vh;
    margin: 0;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: hotpink;
    font-family: 'Baskerville Old Face';
}
.top{
   margin-left:2em;
   font-size:20px;
}


h1{
    padding-top:0.5em;
    text-align:center;
    font-size: 1rem + 1.5vw;
}
h2 {
    padding-top: 0.5em;
    text-align: center;
}
div{
  background-color:white;
}
p{
    margin-left:2em;
    margin-right:2em;
    display:block;
    margin-left:40%;
    padding-bottom:2em;
    font-size: 25px;
}

/*.langa_p {
    display: inline-block;
    margin-left: 20%;
    font-size: 40px;
    margin-top: 1.5em;
    padding-bottom: 1.25em;
}*/
div{
    width:30%;
    float:left;
    height:50%;
    background-color:hotpink;
}
.img1 {
    width: 100%;
    height:55%;
    margin-bottom:0;
    margin-left:2em;
}
.img2 {
    width: 100%;
    height: 30%;
    margin-bottom: 0px;
    margin-left: 2em;
}
input[type="email"]{
    margin-top:0.25em;
    width:70%;
    background-color:pink;
}
input[type="submit"]{
    background-color:pink;
    border-color:white;
}
form{
    width:35%;
    border:0;
}
.pt_poza {
    padding-top: 50%;
    padding-left: 2em;
    font-size: 17px;
}
fieldset {
    padding-top: 15%;
    border: 0;
}
label{
    padding-top:50%;
    font-size:18px;
}
.unu{
    margin-left:2em;
    height:1em;
    width:3em;
}
.doi{
    margin-top:30%;
    margin-left:2em;
    display:block;
}
.buton{
    margin-left:2.5em;
    margin-bottom:0.5em;
}
@media(orientation:portrait){
    body {
        min-height: 97vh;
        margin: 0;
        width: 100%;
        background-color: hotpink;
        font-family: 'Baskerville Old Face';
    }
}
@media (max-width: 1400px) and (min-width: 1000px) {

    .langa_p {
        display: inline-block;
        margin-left: 20%;
        font-size: 20px;
        margin-top: 1.5em;
        padding-bottom: 1.25em;
    }
    h1{
        font-size:25px;
    }
    h2{
        font-size:20px;
    }
    p{
        font-size:18px;
    }
}
@media (max-width: 1200px) and (min-width: 500px) {

    .langa_p {
        display: inline-block;
        margin-left: 20%;
        font-size: 20px;
        margin-top: 1.5em;
        padding-bottom: 1.25em;
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}
@media (max-width: 500px) and (min-width: 1px) {

    .langa_p {
        display: inline-block;
        margin-left: 20%;
        font-size: 20px;
        margin-top: 1.5em;
        padding-bottom: 1.25em;
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}
@media (max-width: 500px) and (min-width: 1px) {

    .langa_p {
        display: inline-block;
        margin-left: 20%;
        font-size: 20px;
        margin-top: 1.5em;
        padding-bottom: 1.25em;
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
    .pt_poza {
        padding-top: 50%;
        padding-left: 2em;
        font-size: 13px;
    }
    .mail{
        font-size:13px;
    }
}

